@charset "UTF-8";

/* colours */
:root {
	--blue-color: #294c83;
	--black-color: #282828;
	--green-color: #b3d3bc;
	--white-color: #effffe;
}
::selection {
	color: var(--white-color);
	background-color: var(--blue-color);
}

#title::selection {
	background-color: var(--green-color);
	color: var(--black-color);
}

.green {
	background-color: var(--green-color);
}
.blue {
	color: var(--white-color);
	background-color: var(--blue-color);;
}

/* Generic elements */
html {
  box-sizing: border-box;
  font-size: 16px;
  font-family: "Fira Sans", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;

  color: var(--black-color);
  background: var(--green-color);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-size: 18px;
}

body,
html {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  margin: 10px 0;
}

a {
  color: inherit;
}

.image {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  user-select: none;  
}

main {
	margin: 0 6vw;
}

section {
  padding: 0.6rem 1.4rem;
}

.flex {
  display: flex;
}

.flex.column{
  flex-direction: column;
}

.flex.center{
  justify-items: center;
  align-items: center;
}

#title {
	margin-left: auto;
	margin-right: auto;
	font-size: calc(1.5rem + 6vw);
}


#title.smaller{
	font-size: calc(1.5rem + 2vw);
}


.top {
	position: fixed;
	top: 0;
	width: 100%;
}

.logos {
	flex-wrap: wrap;
	justify-content: space-evenly;
}

.logos div {
	margin: 0.2rem;
}

.logos img {
	margin: 0.2rem;
	max-height: calc(4vw + 48px);
}
